<div style="border: 1px solid purple;">

<p>WELCOME TO OUR PAGE</p>

    LOG OUT BUTTON

    <p>Welcome {{@model.name}}</p>
    <MainApplication
        @model={{model}}
    />
{{!-- {{outlet}} --}}

</div>