<div style="border: 1px solid purple;">

<p>WELCOME TO OUR PAGE</p>

{{#if this.model.name}}
    LOG OUT BUTTON

    <p>Welcome {{@model.name}}</p>
    <MainApplication
        @model={{model}}
    />
{{else}}
    Please Log In:
    <LoginUi/>
{{/if}}
{{outlet}}

</div>