@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://fonts.googleapis.com/css2?family=Raleway:wght@200";
@import "suli.css";
@import "friend.css";
@import "bet.css";
@import "navbar.css";

body{
    margin: 0;
    padding: 0;
    background-image: url("https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExMzk2fQ&w=1000&q=80");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}

.left{
	float: left;
	width: 85%;
	position: absolute;

}
.right{
	float: right;
	width: 15%;
	padding-left: 15px;
	border-left: 1px solid #ff5900;

}

.temp{
    margin: 16px 0px;
    padding: 0;
}