@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://fonts.googleapis.com/css2?family=Raleway:wght@200";
@import "suli.css";
@import "friend.css";
@import "bet.css";
@import "navbar.css";

body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, rgb(11, 77, 33), rgb(54, 143, 61));
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    color: white;
<<<<<<< HEAD
=======
  } */

.profile-pic {
	/* height */
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

.addFriendButton {
	background-color: #4CAF50;
	border-radius: 20px;
	border: none;
	color: white;
	padding: 15px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.friend-name {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.main_bet_page {
	position: relative;
	text-align: center;
	align-content: center;
	font-family: Baskerville;
	margin: auto;
	width: 60%;
	background-color: rgb(84, 84, 84);
	left: 30px;
	color: #ff5900;
}

.bet_title {
	width: 100%;
	margin: auto;
	/* width: auto; */
	padding: 20px;
	background-color: rgb(68, 67, 67);
}

.bet_participant_table {
	max-width: 600px;
	width: 100%;
	margin: auto;
	width: auto;
	padding: 40px;
	background-color: rgb(225, 218, 218);
	border-collapse: collapse;
}

.bet_input_field_table {
	position: relative;
	max-width: 400px;
	width: 100%;
	margin: auto;
	width: auto;
	padding: 40px;
	background-color: rgb(225, 218, 218);
}

.bet_participant_table td {
	border: 1px solid #ddd;
	padding: 10px;
}

.bet_participant_table tr {
	border: 1px solid #ddd;
}

.bet_participant_table th {
	border: 1px solid #ddd;
	padding: 10px;
	width: 200px;
}

.bet_participant_table tr:nth-child(0) {
	background-color: #c0bfbf;
}

.bet_participant_table tr:nth-child(odd) {
	background-color: #c0bfbf;
}

.bet_participant_table tr:hover {
	background-color: rgb(255, 254, 254);
}

.bet_resolved_text {
	float: right;
	border: 1px solid black;
	padding: 10px;
	background-color: rgb(84, 84, 84);
	color: #ff5900;
}

.button_resolve {
	float: right;
	border: 1px solid black;
	padding: 20px;
	background-color: rgb(84, 84, 84);
	color: #ff5900;
}

.button_resolve:hover {
	background-color: rgb(196, 189, 189);
}

.bet_button_join {
	float: left;
}

.create_bet {
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: rgb(68, 67, 67);
}

.bet_detail_input {
	height: 100px;
	width: 300px;
}

.bet_info {
	max-width: 421px;
	width: 100%;
	margin: auto;
	width: auto;
	padding: 40px;
	background-color: rgb(225, 218, 218);
	border-collapse: collapse;
	padding: 10px;
	margin: auto;
}

.create_bet_button {
	float: right;
	background-color: rgb(68, 67, 67);
	padding: 20px;
	color: #ff5900;
>>>>>>> 98505ae9... bug fixes
}

.left{
	float: left;
	width: 85%;
	position: absolute;

}
.right{
    color: white;

	float: right;
	width: 250px;
	padding-left: 15px;
<<<<<<< HEAD
=======
	border-left: 1px solid #ff5900;

}

.user-created-bets{
	text-align: center;
}

/* Add a color to the active/current link */
>>>>>>> 98505ae9... bug fixes

    padding-bottom: 30px;

}

.temp{
    margin: 16px 0px;
    padding: 0;
}

.jumbotron {
    color: white;
    background-image: url("https://live.staticflickr.com/5342/8969117237_3ca6fa687e_b.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    margin: 0;


  }
td a{
    color: white;
}
