.signup_box{
    width: 350px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 20px;
    background-color: rgb(0, 0, 0, .2);
    box-shadow: 0 0 8px 0 black;
}

.alert{
    background: #81eb81;
    padding: 15px 30px;
    min-width: 200px;
    position: absolute;
    margin: auto;
    left: 50%;
    top: 5px;
    transform: translate(-50%);
    border-radius: 10px;
    border-right: 40px solid #b3ffb3;
    border-left: 10px solid #479747;
}

.fa-exclamation-circle{
    position: absolute;
    top: 50%;
    transform: translate( -120% ,-50%);
    font-size: 30px;
}

.fa-times{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate( 120% ,-50%);
    font-size: 30px;
}

.fa-times:hover{
    color: white;
}

.closeBtn:hover{
    cursor: pointer;
}

.message{
    padding: 0 10px;
    font-size: 18px;
    color: #1a551a;
    font-weight: bold;
}

.show{
    animation: show_slide 3s ease-out ;
}
@keyframes show_slide {
    0%{
        transform: translate(-50%, -50%);
    }
    10%{
        transform: translate(-50%, 50%);
    }
    70%{
        transform: translate(-50%, 50%);
    }
    100%{
        transform: translate(-50%, -100%);
    }
}

.hide{
    display: none;
}