<div style="border: 1px solid orange;">
    LOGIN COMPONENT
    <p>Username: <input value={{this.username}}></p>
    <p>Password: <input value={{this.password}}></p>
    <button onclick={{this.logIn}}>Log In</button>
</div>
