<div style="border: 1px solid orange;">
    LOGIN COMPONENT
    <p>Username: <Input @value={{this.username}}/></p>
    <p>Password: <Input @value={{this.password}}/></p>
    <button onclick={{this.logIn}}>Log In</button>
</div>
