<div style="border: 1px solid red;">
    <p>{{@model.username}}'s Profile Page</p>
    <p>Your are {{@model.age}} years old</p>
</div>

<div>
    <Profile @model={{@model}}/>
</div>

<div>
    <FriendsList/>
</div>

<div>
    <AddFriend/>
</div>
