<div style="border: 1px solid orange;">
    Sign UP COMPONENT
    <p>Username: <Input @value={{this.username}}/></p>
    <p>Password: <Input @value={{this.password}}/></p>
    <button onclick={{this.signup}}>sign up</button>
</div>
